
body {
  padding: 50px;
  background-color: #13D8F6;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h2 {
  font-size: 20px;
}



#timer{
  position: relative;
  font-size: 40px;
  left : 20px;
}

#output{
  background-color: black;
  color: white;
  position: relative;
  font-size: 20px;
  margin: 4px 20px;
  padding: 15px 30px;
  
}

.dspell, .fspell {
  color: black;
  padding:auto;
  width: 120px;
  height: 120px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 11px;
  box-shadow: 8px 8px 2px 1px rgba(0, 0, 255, .2);
  z-index: 1000;
}

.shadows{ 
  background-color:rgba(0, 0, 0, 0.5); /*살짝 투명한 검정으로 배경색*/ 
  width: 120px;
  height: 120px;
  /* z-index: 1000; */
}


.gamestart {

  /*background-color: blue;*/

  /*border: none;*/

  color: black;

  width: 70%;
  padding: 15px 30px;

  text-align: center;

  text-decoration: none;

  display: inline-block;

  font-size: 20px;

  margin: 4px 20px;

  cursor: pointer;
  border-radius: 5px;

}

.resultCopy {

  /*background-color: blue;*/

  /*border: none;*/

  color: black;
  border-radius: 5px;
  width: 10%;
  padding: 15px 0px;

  text-align: center;

  text-decoration: none;

  display: inline-block;

  font-size: 20px;

  margin: 4px 20px;

  cursor: pointer;
  border-radius: 5px;
  min-width: 30px;
}

.main{
  width: 70%;
  float: left;
  box-sizing: border-box;
}

.tables{
  width: 30%;
  float: right;
  box-sizing: border-box;
}